@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #e5d0ff;
    --cor1: #ceadf3;
    --cor2: #aa79e7;
    --cor3: #8162a1;
    --cor4: #433353;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\1F517\00A0';
}


header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header>h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);
    font-weight: normal;
}

header>p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
    padding-bottom: 20px;
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.445);
}

nav>a {
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;

}

nav>a:hover {
    background-color: var(--cor2);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main img {
    width: 100%;
    display: block;
    margin: auto;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    color: var(--cor3);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;

}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor2);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main strong {
    color: var(--cor3);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 2px 6px;

}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
}


main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

div.video{
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.39);
}

aside > h3{
    background-color: var(--cor2);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;

}


footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
